.nav-button {
  position: absolute;
  height: 56px;
  bottom: 0;
  top:0;
  width: 20%;
  //text-align: center;
  background-color: $pundit-green;
  color: #fff;
  margin: auto;
  //height: auto;
  &.next{
    right: 0;
  }
  &.prev{
    left: 0;
  }
}

.rating-container ul {
  list-style-type: none;
  padding: 0;
  .rating-item {
    height: 5rem;
    color: #fff;
    background-color: $pundit-green;
    border: 1px solid grey;
    margin-top: -1px;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.selected {
      background-color: darkgreen;
    }
    .rating-item-icon {
      position: absolute;
      left: 2rem;
      display: none;
      &.selected {
        display: block;
      }
    }
  }
}
