<ion-header>
  <ion-navbar>
    <ion-title>
      {{currentQues+1}} of {{totalPage}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <h1 padding text-center>{{question}}</h1>
  <div class="rating-container">
    <ul>
      <li *ngFor="let answer of answers"
          [class.selected]="answer === selectedAnswer"
          (click)="onSelect(answer)" class="rating-item">
        <ion-icon name="checkmark"
                  [class.selected]="answer === selectedAnswer"
                  class="rating-item-icon"></ion-icon>
        {{answer}}
      </li>
    </ul>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button start class="nav-button prev" (click)="prevQuestion()" *ngIf="currentQues!==0">previous
      </button>
      <button ion-button end class="nav-button next" (click)="nextQuestion()" *ngIf="currentQues+1!==totalPage">next
      </button>
      <button ion-button end class="nav-button next" (click)="nextQuestion()" *ngIf="currentQues+1===totalPage">finish
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

